{% for result in results %}
<div class="result-card">
  <div class="result-image"></div>
  <div>
    <h3>Name: {{ result.username }}</h3>
    <p>Email: {{ result.email }}<br/>Role: {{ result.roles }}, Password: {{ result.password }}, Active: {{result.active}}</p>
    <p>ID: {{ result.id }}</p>
    <a href="#" 
       class="auth-link" 
       style="width: 75px; text-align: center; margin-top: 8px;"
       hx-get="/hospital/{{ result.fac_id }}" 
       hx-target="body" 
       hx-swap="beforeend">Details</a>
  </div>
</div>
{% endfor %}